body {
  background-color: #f1f1f1;
  color: #000;
  /*background-color: rgb(202, 211, 219);*/
  /*background-image: url('./assets/cubes.png');*/
  /*background-repeat: repeat;*/
  background-size: 100px 100px;
  font-size: 20px;
  padding: 1rem;
}
@media (max-width: 800px) {
  body {
    font-size: 18px;
    padding: 0.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: right;
}

header {
  margin: 5rem auto;
  max-width: 60rem;
}
header h1,
header p {
  margin: 0;
}

article {
  margin: 3rem auto;
  max-width: 60rem;
}

footer {
  text-align: center;
  font-size: 80%;
  max-width: 60rem;
  margin: 2rem auto;
}
footer p {
  margin: 0;
}

p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 125%;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
  width: auto;
  background-color: transparent;
}
h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

div.center {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

div.sticky {
  background-color: rgb(255, 255, 220);
  border: 3px ridge #ff0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
div.sticky img {
  float: left;
  margin-right: 1rem;
}
div.sticky p {
  background-color: transparent;
  margin: 1rem;
}

div.hstack {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  margin: 1rem;
  max-width: 100%;
}
div.hstack.center {
  flex-wrap: wrap;
  width: unset;
  justify-content: center;
}
div.hstack.float {
  float: right;
  width: min-content;
  margin: 0rem 0rem 1rem 1rem;
  justify-content: center;
}

div.hstack > figure {
  flex-basis: min-content;
  flex-grow: 0;
  flex-shrink: 1;
  overflow-x: auto;
  margin: 0;
  border: 2px outset #fff;
  background-color: #ddd;
}
div.hstack > figure > figcaption {
  margin: 0.5rem;
  font-size: 16px;
}

@media (max-width: 600px) {
  div.hstack {
    gap: 0.5rem;
    margin: 0;
  }
}

figure > img {
  display: block;
  border: 3px inset #fff;
  margin: 0;
  padding: 0;
}
