hexagon-canvas {
  display: flex;
  box-sizing: content-box;
  background-color: #fff;
  border: 3px inset #fff;
  align-items: stretch;
}
hexagon-canvas.lg {
  width: 320px;
  height: 320px;
}
hexagon-canvas.md,
hexagon-canvas {
  width: 240px;
  height: 240px;
}
hexagon-canvas.sm {
  width: 180px;
  height: 180px;
}
hexagon-canvas.xs {
  width: 120px;
  height: 120px;
}

figure > hexagon-canvas.xs {
  padding-left: 30px;
  padding-right: 30px;
}

hexagon-canvas canvas {
  flex-shrink: 1;
  flex-grow: 1;
}
